<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/alumni.jpg') %>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1><%= t(".our_alumni") %></h1>
        <p>
          <%= t(".our_alumni_details_html") %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to program_path, class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>


<div id="alumni" class="padded">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        What our students have built
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      ...in only 10 days.
    </p>
    <div class="projects-list">
      <% @projects.each do |project| %>
       <% project = OpenStruct.new project %>
        <div class="project-item-container">
          <a class='project-item-url' target='_blank' href=<%= project.url %>></a>
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5)), url(<%= project.thumbnail %>);background-size:cover;background-position:center center;">
                <div class="project-item-makers">
                  <% project.makers.each do |maker| %>
                    <% maker = OpenStruct.new maker %>
                    <div class="project-item-maker">
                      <a href=<%= "http://alumni.lewagon.org/#{maker.github_nickname}" %> target='_blank'>
                        <img src=<%= maker.thumbnail %> class='avatar' />
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="project-item-infos">
            <div class="project-item-name">
              <%= project.name %>
            </div>
            <div class="project-item-tagline">
              <%= project.tagline %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

