<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(function(){
      $('.press-container').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  </script>
<% end %>

<div class="banner banner-gradient text-center" style="background-image: url('<%= image_path('banners/bg-home.jpg')%>');">
  <div class="banner-gradient-shadow"></div>
  <div class="banner-content">
    <h1><%= t(".our_alumni") %></h1>
    <p>
      <%= t(".our_alumni_details_html") %>
    </p>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>

<div id="alumni" class="padded">
  <h2 class="section-header-big text-center">Nos élèves</h2>
  <div class="container">
    <div class="row">
      <% Static::STUDENTS.each do |username, infos|%>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-student">
            <div class="card-student-content">
              <h3><%= infos[:name]%></h3>
              <p><%= infos[:project] %></p>
            </div>
            <%= image_tag "alumni/#{infos[:image]}", class: "card-student-img img-circle"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="products" class="padded">
  <h2 class="section-header-big text-center">Leurs projets</h2>

  <div class="container">
    <div class="row">
      <% Static::PROJECTS.each do |key, infos|%>
        <div class="col-xs-12">
          <div class="card-project">
            <div class="card-project-header">
              <div class="card-project-title">
                <h3><%= infos[:name] %></h3>
                <p><%= (locale == I18n.default_locale) ? infos[:teaser][:fr] : infos[:teaser][:en]%></p>
              </div>
              <div class="card-project-founders">
                <img src="http://placehold.it/50x50" alt="" class="img-circle">
              </div>
            </div>
            <div class="card-project-body" style="background-image: url('<%=image_path 'projects/' + infos[:image]%>');">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>]