<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>
<%= content_for(:image_url) { image_url 'social/alumni_facebook_card.png' } %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/alumni.jpg') %>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1><%= t(".our_alumni") %></h1>
        <p>
          <%= t(".our_alumni_details_html") %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to send(:"program_#{locale}_path"), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), send(:"apply_#{locale}_path"), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>


<div id="alumni" class="padded">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        <%= t(".our_students_projects", default: "Les projets de nos élèves") %>
      </div>
    </h2>
    <div class="projects-list">
      <% @projects.each do |project| %>
       <% project = OpenStruct.new project %>
        <div class="project-item-container">
          <a class='project-item-url' target='_blank' href=<%= project.url %>></a>
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(<%= project.card %>);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= project.name %>
                </div>
                <div class="project-item-tagline">
                  <%= project.tagline %>
                </div>
              </div>

              <div class="project-item-makers">
                <% project.makers.each do |maker| %>
                  <% maker = OpenStruct.new maker %>
                  <div class="project-item-maker">
                    <a href=<%= "http://alumni.lewagon.org/#{maker.github_nickname}" %> target='_blank'>
                      <img src=<%= maker.thumbnail %> class='avatar' />
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= render partial: "shared/testimonials", locals: {number: 20} %>

