<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(function(){
      $('.press-container').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  </script>
<% end %>

<div class="banner banner-gradient text-center" style="background-image: url('<%= image_path('banners/bg-home.jpg')%>');">
  <div class="banner-gradient-shadow"></div>
  <div class="banner-content">
    <h1><%= t(".our_alumni") %></h1>
    <p>
      <%= t(".our_alumni_details_html") %>
    </p>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>

<div id="alumni" class="padded">
  <h2 class="section-header-big text-center">Témoignages</h2>
  <div class="container">
    <div class="row">
      <% Static::STUDENTS.each do |username, infos|%>
        <div class="co-xs-12 col-sm-6 col-md-4">
          <div class="card-student">
            <div class="card-student-content">
              <h3><%= infos[:name]%></h3>
              <p><%= infos[:project] %></p>
            </div>
            <%= image_tag "alumni/#{infos[:image]}", class: "card-student-img img-circle"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="products" class="padded">
  <h2 class="section-header-big text-center">Les produits de nos élèves</h2>
</div>