<div class="features-wrapper">
  <div class="container features-container">
    <h2 class='section-title-home'>
      <div class='section-title-home-content' style="font-size:30px;">
        <%= t(".pedagogy_matters_html") %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".pedagogy_tagline") %>
    </p>
    <div class='features'>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon yellow'>
            <i class='mdi mdi-laptop'>

            </i>
          </div>
          <div class='feature-title'>
            <%= t(".web_development") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".web_development_details") %><%= link_to t(".see_all"), send(:"program_#{locale}_path") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon purple'>
            <i class='mdi mdi-keyboard-variant'></i>
          </div>
          <div class='feature-title'>
            <%= t(".software_engineer_html") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".software_engineer_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon green'>
          <i class='mdi mdi-source-pull'></i>
          </div>
          <div class='feature-title'>
            <%= t(".technical_workflow") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".technical_workflow_details_html") %>
        </div>
      </div>
       <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon orange'>
            <i class='mdi mdi-auto-fix'></i>
          </div>
          <div class='feature-title'>
            <%= t(".startup_toolkit") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".startup_toolkit_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon blue'>
            <i class='mdi mdi-cube-outline'></i>
          </div>
          <div class='feature-title'>
            <%= t(".build_product") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".build_product_details") %><%= link_to t(".checkout"), alumni_path(locale: locale)%>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon red'>
            <i class='mdi mdi-wallet-travel'></i>
          </div>
          <div class='feature-title'>
            <%= t(".land_a_job") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".land_a_job_details") %>
        </div>
      </div>
    </div>
  </div>
</div>
