<nav class="navbar-wagon navbar-wagon-white">
  <div class="container navbar-wagon-container">
    <div class='navbar-wagon-side'>
      <a class='navbar-wagon-link-menu'>
      </a>
    </div>
    <div class='navbar-wagon-items'>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to t(".menu.cities"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link glitch", id: "navbar-wagon-menu", data: {text: t(".menu.cities"), toggle: 'dropdown'} %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% Static::CITIES.each do |city, infos| %>
              <li>
                <%= link_to infos[:name], city_path(city: city) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr class='hidden-xs'>
      <%= link_to t(".menu.fullstack", default: "Programme"), program_path, class: " hidden-xs navbar-wagon-link glitch", data: {text: t(".menu.fullstack", default: "Programme")} %>
      <hr class='fake-hr hidden-sm hidden-xs'>
      <%= link_to root_path, class: 'wagon-link' do %>
        <%= render "shared/logos/logo_red_square" %>
      <% end %>
      <hr class='fake-hr hidden-xs'>
      <%= link_to t(".alumni", default: "Alumni"), alumni_path, class: "glitch hidden-xs  navbar-wagon-link", data: {text: t(".alumni", default: "Alumni")} %>
      <hr class='hidden-xs'>
      <%= link_to t(".menu.ondemand", default: "On-Demand"), "https://ondemand.lewagon.org/", target: "_blank", data: {text: t(".menu.ondemand", default: "On-Demand").gsub('d', '')}, class: "glitch hidden-xs navbar-wagon-link navbar-wagon-item" %>
      <% link_to t(".menu.tv", default: "TV"), tv_path, class: "navbar-wagon-link  hidden-xs " %>
      <% link_to t(".menu.blog", default: "Blog"), blog_path, class: "navbar-wagon-link  hidden-xs " %>
      </div>
      <div class="navbar-wagon-side text-right hidden-sm hidden-xs">
        <%= link_to 'Postuler', apply_path, class: 'navbar-wagon-link-cta' %>
      </div>
  </div>
</nav>
