<nav class="navbar-wagon navbar-wagon-white">
  <div class="container navbar-wagon-container">
    <div class='navbar-wagon-side'>
      <div class="dropdown">
        <a class='navbar-wagon-link-menu-wrapper' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <div class='navbar-wagon-link-menu'></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class='main hidden-md hidden-lg hidden-sm'>
            <%= link_to t(".menu.fullstack"), send(:"program_#{locale}_path") %>
          </li>
          <li class='main hidden-md hidden-lg hidden-sm'>
            <%= link_to t(".alumni", default: "Alumni"), alumni_path(locale: locale), locale: locale %>
          </li>
          <li class='main hidden-md hidden-lg hidden-sm'>
            <%= link_to t(".menu.cities"),"#" %>
          </li>
          <% Static::CITIES.each do |slug, infos| %>
            <li class='hidden-md hidden-lg hidden-sm'>
              <%= link_to infos[:name], city_path(city: slug, locale: locale) %>
            </li>
          <% end %>
          <li>
            <span class='flag-container'>
              <div>
                <%= link_to url_for(controller: params[:controller], action: params[:action], locale: :fr), style: ("opacity: .3" if locale == :en) do %>
                  <%= render 'shared/french_flag' %>
                <% end %>
                <span class='separator'>/</span>
                <%= link_to url_for(controller: params[:controller], action: params[:action], locale: :en), style: ("opacity: .3" if locale == :fr) do %>
                  <%= render 'shared/english_flag' %>
                <% end %>
              </div>
            </span>
          </li>
          <% if locale == :fr %>
            <li class='main'>
              <a href="https://ondemand.lewagon.org/" target='_blank'>
                On Demand
              </a>
            </li>
            <li>
              <a href="https://ondemand.lewagon.org/tracks/codez-votre-premier-site-web/go" target='_blank'>  Codez votre premier site web
              </a>
            </li>
            <li>
              <a href="https://ondemand.lewagon.org/tracks/devenez-developpeur-front-end/go" target='_blank'>
                Devenez Front-end Developer
              </a>
            </li>
            <li>
              <a href="https://ondemand.lewagon.org/tracks/devenez-data-scientist/go" target='_blank'>
                Devenez un gros Data-Scientist
              </a>
            </li>
            <li>
              <a href="https://ondemand.lewagon.org/tracks/comprenez-enfin-javascript/go" target='_blank'>
                Comprennez enfin Javascript
              </a>
            </li>
          <% end %>
          <li class='main'>
            <a href="/blog">
              Blog
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class='navbar-wagon-items'>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to t(".menu.cities"),"#", class: "hidden-xs  dropdown-toggle navbar-wagon-link glitch", id: "navbar-wagon-menu", data: {text: t(".menu.cities"), toggle: 'dropdown'} %>
          <ul class="dropdown-menu dropdown-menu-right dropdown-cities">
            <% Static::CITIES.each do |slug, infos| %>
              <li>
                <%= link_to infos[:name], city_path(city: slug, locale: locale) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr class='hidden-xs'>
      <%= link_to t(".menu.fullstack", default: "Programme"), send(:"program_#{locale}_path"), class: " hidden-xs navbar-wagon-link glitch", data: {text: t(".menu.fullstack", default: "Programme")} %>
      <hr class='fake-hr hidden-sm hidden-xs'>
      <%= link_to root_path(locale: locale), class: 'wagon-link' do %>
        <%= render "shared/logos/logo_red_square" %>
      <% end %>
      <hr class='fake-hr hidden-xs'>
      <%= link_to t(".alumni", default: "Alumni"), alumni_path(locale: locale), class: "glitch hidden-xs navbar-wagon-link", data: {text: t(".alumni", default: "Alumni")} %>
      <hr class='hidden-xs'>
      <a href="https://ondemand.lewagon.org/" class='navbar-wagon-link hidden-xs glitch' data-text='ondemand' target='_blank'>
        On Demand
      </a>
      <% link_to t(".menu.tv", default: "TV"), tv_path, class: "navbar-wagon-link  hidden-xs " %>
      <% link_to t(".menu.blog", default: "Blog"), blog_path, class: "navbar-wagon-link  hidden-xs " %>
      </div>
      <div class="navbar-wagon-side text-right hidden-sm hidden-xs">
        <%= link_to t(".apply"), send(:"apply_#{locale}_path"), class: 'navbar-wagon-link-cta' %>
      </div>
  </div>
</nav>
