<nav class="navbar-wagon navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <%= link_to root_path do %>
      <%= render "shared/logos/logo_red_square" %>
    <% end %>

    <div class="navbar-wagon-spacer"></div>
    <%= link_to t(".menu.ondemand", default: "On-Demand"), "https://ondemand.lewagon.org/", target: "_blank", class: "navbar-wagon-link navbar-wagon-item" %>
    <hr>
    <%= link_to t(".menu.tv", default: "TV"), tv_path, class: "navbar-wagon-link navbar-wagon-item" %>
    <hr>
    <%= link_to t(".menu.blog", default: "Blog"), blog_path, class: "navbar-wagon-link navbar-wagon-item" %>
  </div>
</nav>