<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<%= content_for(:after_js) do %>
  <script>
    $(function(){
      $('.press-container').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear'
      });
    });
  </script>
<% end %>

<div class="banner banner-gradient text-center" style="background-image: url('<%= image_path('banners/bg-home.jpg')%>');">
  <div class="banner-gradient-shadow"></div>
  <div class="banner-content">
    <h1><%= t(".catchline") %></h1>
    <p>
      <%= t(".vision") %>
      <span>
        <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
      </span>
    </p>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      TODO: tchret icons cascade
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="step">
        <span class="step-figure">
          <i class="fa fa-check"></i>
        </span>
        <div class="step-description">
          <h2>
            <%= t(".prep_work") %>
          </h2>
          <p>
            <%= t(".prep_work_details") %>
          </p>
        </div>
      </div>
      <div class="step">
        <span class="step-figure">
          <i class="fa fa-check"></i>
        </span>
        <div class="step-description">
          <h2>
            <%= t(".bootcamp") %>
          </h2>
          <p>
            <%= t(".bootcamp_details") %>
          </p>
          <div class="sub-step">
            <span class="sub-step-figure">
              <i class="fa fa-check"></i>
            </span>
            <h3 class="sub-step-description">
              <%= t(".algorithm") %>
            </h3>
          </div>
          <div class="sub-step">
            <span class="sub-step-figure">
              <i class="fa fa-check"></i>
            </span>
            <h3 class="sub-step-description">
              <%= t(".web_development") %>
            </h3>
          </div>
          <div class="sub-step">
            <span class="sub-step-figure">
              <i class="fa fa-check"></i>
            </span>
            <h3 class="sub-step-description">
              <%= t(".mindset") %>
            </h3>
          </div>
          <div class="sub-step">
            <span class="sub-step-figure">
              <i class="fa fa-check"></i>
            </span>
            <h3 class="sub-step-description">
              <%= t(".product") %>
            </h3>
          </div>
          <div class="sub-step">
            <span class="sub-step-figure">
              <i class="fa fa-check"></i>
            </span>
            <h3 class="sub-step-description">
              <%= t(".tools") %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-black padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-inline">
          <li>
            <a href="">
              <img src="http://placehold.it/100/100" alt="" class="img-circle">
            </a>
          </li>
          <li>
            <a href="">
              <img src="http://placehold.it/100/100" alt="" class="img-circle">
            </a>
          </li>
          <li>
            <a href="">
              <img src="http://placehold.it/100/100" alt="" class="img-circle">
            </a>
          </li>
          <li>
            <a href="">
              <img src="http://placehold.it/100/100" alt="" class="img-circle">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="step step-negative">
          <span class="step-figure">
            <i class="fa fa-check"></i>
          </span>
          <div class="step-description">
            <h2>
              <%= t(".new_me") %>
            </h2>
            <p>
              <%= t(".new_me_details") %>
            </p>
          </div>
        </div>
        <div class="cta text-left padded-small">
          <%= link_to t(".check_program"), program_path, class: "btn btn-danger btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Paris</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Brussels</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Los Angeles</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 3 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Lille</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center padded-small">
      <h2 class="section-header">
        <%= t(".our_cities") %>
      </h2>
      <p class="text-muted">
        <%= t(".open_yours") %>
      </p>
    </div>
  </div>
</div>

<div class="banner banner-flat" style="background-image: url('<%= image_path('banners/bg-home-secondary.jpg')%>')">
  <div class="banner-flat-filter banner-flat-filter-green"></div>
  <div class="banner-content text-center press-container">
    <div><%= image_tag "techcrunch.png" %></div>
    <div><%= image_tag "JDN.png" %></div>
    <div><%= image_tag "maddyness.png" %></div>
    <div><%= image_tag "rudebaguette.png" %></div>
  </div>
</div>

<div class="bg-black padded" id="stories">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        TODO: tchret students cascade
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>
          <%= t(".already_a_lot") %>
        </p>
        <p>
          <%= t(".and_you_html") %>
        </p>
        <div class="padded-small">
          <%= link_to t(".check_projects"), alumni_path, class: "btn btn-danger btn-lg" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container padded text-center">
  <h2 class="section-header padded-small">
    <%= t(".news_and_resources") %>
  </h2>
  <form action="" class="form-inline">
    <input type="email" class="form-control input-lg" placeholder="<%= t(".enter_your_mail") %>">
    <input type="submit" class="btn btn-danger btn-lg" value="<%= t(".stay_tuned") %>">
  </form>

</div>