<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/home.jpg')%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".catchline_html") %>
        </h1>
        <p>
          <%= t(".vision") %>
          <!-- <span>
            <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
          </span> -->
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to program_path, class: 'banner-cta-item' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<div class="features-wrapper">
  <div class="container features-container">
    <h2>
      <span>
        The funny thing is, it actually works.
      </span>
    </h2>
    <div class='features'>

    </div>
  </div>
</div>

<div class="quote">
  <h2>
    <strong>Impressive</strong> european coding bootcamp
    <span class="dot">-</span> <span class="source"><img src='http://portfolio.toolness.org/img/logos/techcrunch.png' /></span>
  </h2>
  <p>350+ élèves formés en Europe et dans le monde. 120+ produits codés.</p>
  <%= image_tag "press/techcrunch.png" %>
</div>

<div style="background-image: url('<%= image_path('banners/projects.png')%>');" class="projects"></div>


<div class="bg-black padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        TODO: students cascade.
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="step step-negative">
          <span class="step-figure">
            <i class="fa fa-check"></i>
          </span>
          <div class="step-description">
            <h2>
              <%= t(".new_me") %>
            </h2>
            <p>
              <%= t(".new_me_details") %>
            </p>
            <p>
              <%= t(".already_a_lot") %> <%= t(".and_you_html") %>
            </p>
            <div class="padded-small">
              <%= link_to t(".check_projects"), alumni_path, class: "btn btn-danger btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Paris</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Brussels</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Los Angeles</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 3 évènements à venir
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="card-city">
        <div class="card-city-header"></div>
        <div class="card-city-body">
          <h3>Lille</h3>
          <p>
            <i class="fa fa-map-marker"></i> prochain départ : janvier 2015
          </p>
          <p>
            <i class="fa fa-calendar"></i> 2 évènements à venir
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center padded-small">
      <h2 class="section-header">
        <%= t(".our_cities") %>
      </h2>
      <p class="text-muted">
        <%= t(".open_yours") %> <i class="fa fa-angle-right"></i>
        <a href="mailto:contact@lewagon.org?Subject=Launching%20Le%20Wagon" target="_top">contact@lewagon.org</a>
      </p>
    </div>
  </div>
</div>

<div class="banner banner-flat" style="background-image: url('<%= image_path('banners/home-secondary.jpg')%>');padding-bottom: 0;">
  <div class="banner-flat-filter banner-flat-filter-green"></div>
  <div class="banner-content text-center press-container">
    <div><%= image_tag "press/techcrunch.png" %></div>
    <div><%= image_tag "press/JDN.png" %></div>
    <div><%= image_tag "press/maddyness.png" %></div>
    <div><%= image_tag "press/rudebaguette.png" %></div>
  </div>
</div>
