<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/1.jpg')%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".catchline_html") %>
        </h1>
        <p>
          <%= t(".vision") %>
          <!-- <span>
            <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
          </span> -->
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to (locale == :fr ? program_path : program_en_path), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), (locale == :fr ? apply_fr_path : apply_en_path), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<%= render "shared/features" %>

<%= react_component 'Stories', {
  stories: @stories,
  title: t(".it_works"),
  locale: locale.to_s
  }, prerender: true %>

<div id="alumni" class="padded">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        <%= t(".our_students_projects", default: "Les projets de nos élèves") %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".only_ten_days", default: "...codés en 10 jours seulement") %>
    </p>
    <div class="projects-list">
      <% @projects.each do |project| %>
       <% project = OpenStruct.new project %>
        <div class="project-item-container">
          <a class='project-item-url' target='_blank' href=<%= project.url %>></a>
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(<%= project.card %>);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= project.name %>
                </div>
                <div class="project-item-tagline">
                  <%= project.tagline %>
                </div>
              </div>

              <div class="project-item-makers">
                <% project.makers.each do |maker| %>
                  <% maker = OpenStruct.new maker %>
                  <div class="project-item-maker">
                    <a href=<%= "http://alumni.lewagon.org/#{maker.github_nickname}" %> target='_blank'>
                      <img src=<%= maker.thumbnail %> class='avatar' />
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center" id="more-projects">
      <%= link_to t(".see_more_projects"), alumni_path(locale: locale)%>
    </div>
  </div>
</div>


<div class="wordlwide-overlay">
  <div class="container padded">
    <h2 class='section-title-home'>
      <div class='section-title-home-content'>
        <%= t ".worldwide" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".open_yours") %> <i class="fa fa-angle-right"></i>
      <a href="mailto:contact@lewagon.org?Subject=Launching%20Le%20Wagon" target="_top">contact@lewagon.org</a>
    </p>
    <%= render 'shared/map' %>
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-city">
            <div class="card-city-header" style="background-image: url('<%= city['pictures']['city']['thumbnail']%>')">
            <span class="card-city-filter"></span>
            </div>
            <div class="card-city-body">
              <h3><%= link_to city["name"], city_path(city: city["slug"], locale: locale) %></h3>
              <p>
                <i class="fa fa-map-marker"></i> prochain départ : <%= city["next_batch"] ? Date.parse(city["next_batch"]["starts_at"]).strftime("%b %Y") : "coming soon" %>
              </p>
              <p>
                <i class="fa fa-calendar"></i>
                <%= @meetups[city["slug"]][:events].empty? ? 0 : @meetups[city["slug"]][:events].count %>
                évènements à venir
              </p>
              <p class="card-city-meetup-link">
                <% if @meetups[city["slug"]][:events].empty? %>
                  <a href="<%= @meetups[city["slug"]][:infos][:link] %>" target="_blank">
                    <%= @meetups[city["slug"]][:infos][:name] %>
                  </a>
                <% else %>
                  <a href="<%= @meetups[city["slug"]][:events].first[:event_url] %>" target="_blank">
                    <%= @meetups[city["slug"]][:events].first[:name].truncate(30) %>
                  </a>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="quote-overlay">
  <div class="container">
    <div class='quote'>
      <h2 class='section-title-home quote'>
        <div class='section-title-home-content'>
          "an <strong>Impressive</strong> coding bootcamp"
          <div class='techcrunch'>
            <hr class='techcrunch-hr hidden-xs'>
            <div>
              <img src='http://portfolio.toolness.org/img/logos/techcrunch.png' />
            </div>
          </div>
        </div>
      </h2>
      <div class='techcrunch-view hidden-sm hidden-xs'>
        <a href='http://techcrunch.com/2014/11/27/le-wagon-is-an-impressive-french-coding-bootcamp-for-entrepreneurs/' target='_blank'>
        <%= image_tag "press/techcrunch.png" %>
        </a>
      </div>
    </div>
  </div>
</div>

<%= react_component 'UserCascade', {
  alumni: @alumni
  } %>

