<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/1.jpg')%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".catchline_html") %>
        </h1>
        <p>
          <%= t(".vision") %>
          <!-- <span>
            <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
          </span> -->
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to send(:"program_#{locale}_path"), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), send(:"apply_#{locale}_path"), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<%= render "shared/features" %>

<div class="quote-overlay">
  <div class="container">
    <div class='quote'>
      <h2 class='section-title-home quote'>
        <div class='section-title-home-content'>
          "an <strong>Impressive</strong> coding bootcamp"
          <div class='techcrunch'>
            <hr class='techcrunch-hr hidden-xs'>
            <div>
              <img src='http://portfolio.toolness.org/img/logos/techcrunch.png' />
            </div>
          </div>
        </div>
      </h2>
      <div class='techcrunch-view hidden-sm hidden-xs'>
        <a href='http://techcrunch.com/2014/11/27/le-wagon-is-an-impressive-french-coding-bootcamp-for-entrepreneurs/' target='_blank'>
        <%= image_tag "press/techcrunch.png" %>
        </a>
      </div>
    </div>
  </div>
</div>

<%= react_component 'Stories', {
  stories: @stories,
  title: t(".it_works"),
  locale: locale.to_s
  }, prerender: true %>

<div class="testimonials-wrapper">
  <div class="container">
    <div class="testimonials">
      <% @testimonials.each do |testimonial| %>
        <% testimonial = structure testimonial %>
        <div class="testimonial-container">
          <div class="testimonial">
            <div class='green-quote'>
              <i class='mdi mdi-format-quote'></i>
            </div>
            <div class="testimonial-body">
              <div class='testimonial-content'>
                <%= testimonial.content %>
              </div>
            </div>
          </div>
          <div class="testimonial-user">
            <%= image_tag testimonial.user.gravatar_url %>
            <div class='testimonial-user-info'>
              <div class="testimonial-user-name">
                <%= testimonial.user.first_name %>  <%= testimonial.user.last_name %>
              </div>
              <div class='testimonial-user-batch'>
                Batch #<%= testimonial.user.batch.slug %>, <%= testimonial.user.batch.city.name%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="alumni" class="padded">
  <div class="container">
    <h2 class='section-title-home' style="font-size:30px;">
      <div class='section-title-home-content'>
        <%= t(".our_students_projects", default: "Les projets de nos élèves") %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".only_ten_days", default: "...codés en 10 jours seulement") %>
    </p>
    <div class="projects-list">
      <% @projects.each do |project| %>
       <% project = OpenStruct.new project %>
        <div class="project-item-container">
          <a class='project-item-url' target='_blank' href=<%= project.url %>></a>
          <div class="project-item">
            <div class='project-item-head'>
              <div class="project-thumbnail" style="background: url(<%= project.card %>);background-size:cover;background-position:center center;">
              </div>
            </div>
            <div class="project-item-infos">
              <div class="project-item-infos-left">
                <div class="project-item-name">
                  <%= project.name %>
                </div>
                <div class="project-item-tagline">
                  <%= project.tagline %>
                </div>
              </div>

              <div class="project-item-makers">
                <% project.makers.each do |maker| %>
                  <% maker = OpenStruct.new maker %>
                  <div class="project-item-maker">
                    <a href=<%= "http://alumni.lewagon.org/#{maker.github_nickname}" %> target='_blank'>
                      <img src=<%= maker.thumbnail %> class='avatar' />
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center" id="more-projects">
      <%= link_to t(".see_more_projects"), alumni_path(locale: locale), class: 'link' %>
    </div>
  </div>
</div>


<div class="wordlwide-overlay">
  <div class="container padded">
    <h2 class='section-title-home'>
      <div class='section-title-home-content'>
        <%= t ".worldwide" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".open_yours") %> <i class="fa fa-angle-right"></i>
      <a href="mailto:contact@lewagon.org?Subject=Launching%20Le%20Wagon" target="_top">contact@lewagon.org</a>
    </p>
    <%= render 'shared/map' %>
    <div class="card-cities">
      <% @cities.each do |city| %>
        <div class="card-city-container">
          <%= link_to city_path(city: city["slug"], locale: locale) do %>
            <div class="card-city">
              <div class="card-city-header" style="background-image: url('<%= city['pictures']['city']['cover']%>')">
              <span class="card-city-filter"></span>
              </div>
              <div class="card-city-body">
                <h3><%= city["name"] %></h3>
                <div class="project-item-makers card-city-teachers">
                  <% @client.staff(city['slug'])["teachers"].each do |teacher| %>
                    <% maker = OpenStruct.new maker %>
                    <div class="project-item-maker">
                      <a href=<%= "http://alumni.lewagon.org/#{teacher['github_nickname']}" %> target='_blank'>
                        <img src=<%= teacher['thumbnail'] %> class='avatar' />
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
