<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/home.jpg')%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          <%= t(".catchline_html") %>
        </h1>
        <p>
          <%= t(".vision") %>
          <!-- <span>
            <i class="fa fa-play-circle-o"></i> <%= t(".view_teaser") %>
          </span> -->
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to program_path, class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<div class="features-wrapper">
  <div class="container features-container">
    <h2 class='section-title-home'>
      <div class='section-title-home-content' style="font-size:30px;">
        <%= t(".pedagogy_matters_html") %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".pedagogy_tagline") %>
    </p>
    <div class='features'>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon yellow'>
            <i class='mdi mdi-laptop'>

            </i>
          </div>
          <div class='feature-title'>
            <%= t(".web_development") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".web_development_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon purple'>
            <i class='mdi mdi-keyboard-variant'></i>
          </div>
          <div class='feature-title'>
            <%= t(".software_engineer_html") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".software_engineer_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon green'>
          <i class='mdi mdi-source-pull'></i>
          </div>
          <div class='feature-title'>
            <%= t(".technical_workflow") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".technical_workflow_details_html") %>
        </div>
      </div>
       <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon orange'>
            <i class='mdi mdi-auto-fix'></i>
          </div>
          <div class='feature-title'>
            <%= t(".startup_toolkit") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".startup_toolkit_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon blue'>
            <i class='mdi mdi-cube-outline'></i>
          </div>
          <div class='feature-title'>
            <%= t(".build_product") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".build_product_details") %>
        </div>
      </div>
      <div class='feature'>
        <div class='feature-header'>
          <div class='feature-icon red'>
            <i class='mdi mdi-wallet-travel'></i>
          </div>
          <div class='feature-title'>
            <%= t(".land_a_job") %>
          </div>
        </div>
        <div class='feature-body'>
          <%= t(".land_a_job_details") %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= react_component 'Stories', {
  stories: @stories,
  title: t(".it_works"),
  locale: locale.to_s
  }, prerender: true %>

<div class="latest-projects-overlay">
  <div class="text-center padded-small">
    <h2 class="section-header">
      <%= t(".freshly_coded") %>
    </h2>
    <p class="text-muted" style="font-size: 20px;">
      <%= t(".all_products") %>
      <i class="fa fa-angle-right"></i>
      <a href="#" target="_top"><%= t(".see_all_products") %></a>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <% @projects.take(3).each do |project| %>
        <div class="col-sm-4">
          <div class="card">
            <span class="card-bg" style="background-image: url('<%= project['thumbnail']%>')"></span>
            <span class="card-shadow"></span>
            <span class="card-text-container">
              <span class="card-text">
                <h2><%= project["name"] %></h2>
                <hr class='hidden-sm'>
                <p class='hidden-sm'><%= project["tagline"] %></p>
              </span>
            </span>
            <span class="card-user">
              <% unless project["makers"].empty? %>
                <%= image_tag project["makers"].first["thumbnail"], class: "avatar avatar-bordered" %>
              <% end %>
            </span>
            <a href="<%= project["url"] %>" class="card-link"></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wordlwide-overlay">
  <div class="container padded">
    <h2 class='section-title-home'>
      <div class='section-title-home-content'>
        <%= t ".worldwide" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t(".open_yours") %> <i class="fa fa-angle-right"></i>
      <a href="mailto:contact@lewagon.org?Subject=Launching%20Le%20Wagon" target="_top">contact@lewagon.org</a>
    </p>
    <%= render 'shared/map' %>
    <div class="row">
      <% @cities.each do |city| %>
        <div class="col-xs-12 col-sm-3">
          <div class="card-city">
            <div class="card-city-header" style="background-image: url('<%= city['city_picture']%>')">
            <span class="card-city-filter"></span>
            </div>
            <div class="card-city-body">
              <h3><%= city["name"] %></h3>
              <p>
                <i class="fa fa-map-marker"></i> prochain départ : <%= city["next_batch"] ? Date.parse(city["next_batch"]["starts_at"]).strftime("%b %Y") : "coming soon" %>
              </p>
              <p>
                <i class="fa fa-calendar"></i>
                <%= @meetups[city["slug"]][:events].empty? ? 0 : @meetups[city["slug"]][:events].count %>
                <!-- y'a des bugs par ici — tchret -->
                évènements à venir
              </p>
              <p class="card-city-meetup-link">
                <% if @meetups[city["slug"]][:events].empty? && @meetups[city["slug"]][:infos] %>
                  <a href="<%= @meetups[city["slug"]][:infos][:link] %>" target="_blank">
                    <i class="fa fa-hand-o-right"></i>
                    <%= @meetups[city["slug"]][:infos][:name] %>
                  </a>
                <% elsif false %>
                <!-- y'a des bugs par ici — tchret -->
                  <a href="<%= @meetups[city["slug"]][:events].first[:event_url] %>" target="_blank">
                    <i class="fa fa-hand-o-right"></i>
                    <%= @meetups[city["slug"]][:events].first[:name].truncate(30) %>
                  </a>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="quote-overlay">
  <div class="container">
    <div class='quote'>
      <h2 class='section-title-home quote'>
        <div class='section-title-home-content'>
          "an <strong>Impressive</strong> coding bootcamp"
          <div class='techcrunch'>
            <hr class='techcrunch-hr hidden-xs'>
            <div>
              <img src='http://portfolio.toolness.org/img/logos/techcrunch.png' />
            </div>
          </div>
        </div>
      </h2>
      <div class='techcrunch-view hidden-sm hidden-xs'>
        <%= image_tag "press/techcrunch.png" %>
      </div>
    </div>
  </div>
</div>

<%= react_component 'UserCascade', {
  alumni: @alumni
  } %>
