<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>


<div class="banner banner-gradient text-center" style="background-image: url('<%= image_path('banners/bg-program.jpg')%>');">
  <div class="banner-gradient-shadow"></div>
  <div class="banner-content">
    <h1><%= t(".our_program") %></h1>
    <p>
      <%= t(".program_details") %>
    </p>
    <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>

<div class="bg-white">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section-header-big">
          <%= t(".objective") %>
        </h2>
        <p class="text-readable">
          <%= t(".objective_details") %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "banners/bg-program.jpg", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-purple-gradient two-columns">
  <%= image_tag "product/fullstack-challenges.png", class: "two-columns-img two-columns-img-left"%>
  <div class="two-columns-description">
    <h2 class="section-header-big">
      <%= t(".why_us") %>
    </h2>
    <p class="text-readable">
      <%= t(".why_us_details") %>
    </p>
  </div>
</div>

<div class="bg-white two-columns">
  <div class="two-columns-description" >
    <h2 class="section-header-big">
      <%= t(".community") %>
    </h2>
    <p class="text-readable">
      <%= t(".community_details") %>
    </p>
  </div>
  <%= image_tag "product/slack.png", class: "two-columns-img two-columns-img-right", style: "height:600px;" %>
</div>

<div class="bg-green-gradient two-columns">
  <%= image_tag "product/github-portfolio.png", class: "two-columns-img two-columns-img-padded-left", style: "height:250px;margin-bottom:70px" %>
  <div class="two-columns-description">
    <h2 class="section-header-big">
      <%= t(".cv") %>
    </h2>
    <p class="text-readable">
      <%= t(".cv_details") %>
    </p>
  </div>
</div>

<div class="bg-white padded">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <p class="text-muted text-readable padded-small text-center">
        Notre unique objectif...
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padded-small">
        <h2 class="section-header">Entrepreneur d'exception</h2>
        <p class="text-readable">
          Devenir un entrepreneur d'exception, capable de coder son appli web & maitrisant les enjeux techniques.
        </p>
      </div>
      <div class="padded-small">
        <h2 class="section-header">Salarié polyvalent</h2>
        <p class="text-readable">
          Savoir faire des trucs de ouf....
        </p>
      </div>
      <div class="padded-small">
        <h2 class="section-header">Dévelopeur junior</h2>
        <p class="text-readable">
          Trouver un poste dans une entreprise du numérique avec ces nouvelles compétences-clef (en développement, product management, marketing, growth hacking..).
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="section-header-big">Semaine par semaine</h2>
      TODO: tchret learning curve
    </div>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <h2 class="section-header-big">Journée type</h2>
    <div class="col-xs-12 col-sm-5">
      <p class="text-muted text-readable">Une journée au coeur du Wagon</p>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="days">
        <div class="days-border"></div>
        <div class="days-container">
          <div class="day">
            <div class="day-hour">9h</div>
            <div class="day-circle day-circle-red"></div>
            <div class="day-description">
              <p>Introduction théorique & live-code des professeurs projeté sur grand écran.</p>
            </div>
          </div>
          <div class="day-picture" style="background-image: url('<%= image_path('banners/bg-program.jpg')%>');">
          </div>
          <div class="day">
            <div class="day-hour">10h30</div>
            <div class="day-circle day-circle day-circle-blue"></div>
            <div class="day-description">
              <p>Challenges en binôme ou par groupe sur la plateforme autocorrigée du Wagon, encadrés par les professeurs et <i>teacher assistants</i>.</p>
            </div>
          </div>
          <div class="day-picture" style="background-image: url('<%= image_path('product/kitt.png')%>');background-position: top;">
          </div>
          <div class="day">
            <div class="day-hour">14h00</div>
            <div class="day-circle day-circle-green"></div>
            <div class="day-description">
              <p>Poursuite des challenges avec ré-explication des notions-clefs..</p>
            </div>
          </div>
          <div class="day-picture" style="background-image: url('<%= image_path('banners/bg-home-secondary.jpg')%>;');background-position: top;">
          </div>
          <div class="day">
            <div class="day-hour">17h30</div>
            <div class="day-circle day-circle-orange"></div>
            <div class="day-description">
              <p>Live-code d'élèves devant la classe from scratch !</p>
            </div>
          </div>
          <div class="day-picture" style="background-image: url('<%= image_path('product/fullstack-challenges.png')%>;');background-position: top;">
          </div>
          <div class="day">
            <div class="day-hour">19h00</div>
            <div class="day-circle day-circle-yellow"></div>
            <div class="day-description">
              <p>Selon la journée, séance de soutien, mentoring sur les projets, masterclasses (derniers invités: Romain Niccoli - CTO Criteo, Ludovic Le Moan - CEO Sigfox..), meetup, dîners, évènements divers & variés</p>
            </div>
          </div>
          <div class="day-picture" style="background-image: url('<%= image_path('banners/bg-talk.jpeg')%>;');background-position: top;">
        </div>
      </div>
    </div>
  </div>
</div>
