<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/live-code.jpg')%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
        <h1><%= t(".our_program") %></h1>
        </h1>
        <p>
          <%= t(".program_details") %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
      <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>
<div class='learning-curve-overlay'>
  <%= react_component 'LearningCurve', {
    curve: render('shared/learning_curve'),
    modules: [
      {
        title: 'Programming',
        icon: 'mdi mdi-laptop yellow',
        curve_size: 25,
        weeks: "3 semaines",
        startWeek: '1',
        endWeek: '3',
        description: 'learn fundamental concepts shared by all programming languages: variables, methods, loops, conditional statements, iterators, regular expressions, file parsing,... Work on cool challenges with your buddies, practice on real-life examples (playing with APIs, scraping HTML, storing data in CSV files etc..).',
        skills: [
          { 'icon': 'devicons-terminal_badge' },
          { 'icon': 'devicons-git' },
          { 'icon': 'devicons-ruby_rough' },
          { 'icon': 'devicons-postgresql' }
        ]
      },
      {
        title: 'Front-end',
        weeks: "2 semaines",
        icon: 'mdi mdi-auto-fix blue',
        startWeek: '4',
        endWeek: '5',
        curve_size: 50,
        description: "you really know a lot of stuff at this point and you can code well-structured, persistent & smart softwares. But the problem is... the interface. It's still our good old shell. Wouldn't it be great to play with a nicer interface such as a HTML file with cool CSS design and JS animations? Let's learn about HTML, CSS & get the best practices in web-design (e.g. learning positioning & layout techniques in CSS + very cool recent stuff like flexbox & CSS animations). Then, we'll teach you how to use Bootstrap, a nice CSS/JS library to save time when prototyping web-apps. Le Wagon's frontend module is very dense, and you'll quickly jump to more advanced stuff such as ERB templates & SASS code and you'll play with Middleman, a very cool frontend framework. Very professional learnings here!",
        skills: [
          { 'icon': 'devicons-html5' },
          { 'icon': 'devicons-css3' },
          { 'icon': 'devicons-sass' },
          { 'icon': 'devicons-javascript_badge' },
          { 'icon': 'devicons devicons-jquery' }
        ]
      },
      {
        title: 'Rails',
        startWeek: '6',
        icon: 'devicons devicons-ruby_on_rails red',
        weeks: "2 semaines",
        endWeek: '7',
        curve_size: 75,
        description: "Time to put all our skills together and move to Rails. No big deal here, we already know most of it. We know DB and ActiveRecord, we are ruby killers and we've played with dozens of gems. We already have good practices in frontend development and we've seen templating and SASS. The 1st Rails week will teach you all the best practices of the frameworks (routing, controllers, models, views). During the 2nd week, you'll code Airbnb from scratch in 5 days. You'll work in teams and you'll learn to collaborate on Github using pull requests! You'll learn a lot from this experience.",
        skills: [
          { 'icon': 'devicons-ruby_on_rails' },
          { 'icon': 'devicons-git_pull_request' },
          { 'icon': 'devicons-heroku' }
        ]
      },
      {
        title: 'Project',
        startWeek: '8',
        icon: 'mdi mdi-cube-outline orange',
        weeks: "2 semaines",
        endWeek: '9',
        curve_size: 100,
        description: "This is the moment of truth! Let's code your own project during the 2 last week and build an awesome product!",
        skills: [
          { 'icon': 'devicons devicons-responsive' }
        ]
      }
    ]
    } %>
</div>
<div class="day-type-overlay">
  <%= react_component 'DayType',
    {
      title: t(".typical_day"),
      steps: [
        {
          image: image_path('banners/live-code.jpg'),
          description: t(".theoretical_intro"),
          hour: '9h',
          circle_color: 'day-circle-red',
          active: false
        },
        {
          image: image_path('product/kitt.png'),
          description: t(".pair_programming"),
          hour: '10h30',
          circle_color: 'day-circle-blue'
        },
        {
          image: image_path('banners/pair-programming.jpg'),
          description: t(".pair_programming_next"),
          hour: '14h00',
          circle_color: 'day-circle-green'
        },
        {
          image: image_path('banners/yoga.jpg'),
          description: t(".yoga"),
          hour: '16h30',
          circle_color: 'day-circle-orange'
        },
        {
          image: image_path('banners/home-secondary.jpg'),
          description: t(".live_code"),
          hour: '17h30',
          circle_color: 'day-circle-orange'
        },
        {
          image: image_path('banners/talk.jpeg'),
          description: t(".talk"),
          hour: '19h00',
          circle_color: 'day-circle-yellow'
        },
        {
          description: 'Sleep, repeat.',
          image: false,
          circle_color: 'day-circle-red'
        }
      ]
    } %>
</div>

<div class="bg-blue two-columns">
  <div class="container">
    <%= image_tag "product/fullstack-challenges.png", class: "two-columns-img two-columns-img-left"%>
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".why_us") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".why_us_details") %>
      </p>
    </div>
  </div>
</div>

<div class="bg-white two-columns">
  <div class="container">
    <div class="two-columns-description" >
      <h2 class="section-header-big">
        <%= t(".community") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".community_details") %>
      </p>
    </div>
    <%= image_tag "product/slack.png", class: "two-columns-img  two-columns-img-right", style: "height:600px;" %>
  </div>
</div>

<div class="bg-green-gradient two-columns">
  <div class="container">
    <%= image_tag "product/github-portfolio.png", class: "two-columns-img two-columns-img-padded-left", style: "height:250px;margin-bottom:70px" %>
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".cv") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".cv_details") %>
      </p>
    </div>
  </div>
</div>

<div class="bg-white padded">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <p class="text-muted text-readable padded-small text-center">
        TODO: tchret animation "our only goal"
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="padded-small">
        <h2 class="section-header">
          <%= t(".awesome_entrepreneur") %>
        </h2>
        <p class="text-readable">
          <%= t(".awesome_entrepreneur_details") %>
        </p>
      </div>
      <div class="padded-small">
        <h2 class="section-header">
          <%= t(".amazing_employee") %>
        </h2>
        <p class="text-readable">
          <%= t(".amazing_employee_details") %>
        </p>
      </div>
      <div class="padded-small">
        <h2 class="section-header">
          <%= t(".junior_dev") %>
        </h2>
        <p class="text-readable">
          <%= t(".junior_dev_details") %>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
