<%= content_for(:title) do %>
  <%= t(".title") %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description") %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path('banners/6.jpg')%>');" id="banner-program">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
        <h1><%= t(".our_program") %></h1>
        </h1>
        <p>
          <%= t(".program_details") %>
        </p>
      </div>
    </div>
    <div class='banner-cta'>
      <%= link_to t(".apply_for_nine_weeks"), apply_path, class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>


<div class='learning-curve-overlay'>
  <div class="container">
    <h2 class='section-title-home'>
      <div class='section-title-home-content' style="font-size:30px;">
        <%= t ".nine_weeks" %>
      </div>
    </h2>
    <p class="text-muted text-center section-title-home-subtitle">
      <%= t ".to_build_your_ideas" %>
    </p>
  </div>
  <%= react_component 'LearningCurve', {
    curve: render('shared/learning_curve'),
    modules: [
      {
        title: '1 - Ruby and coding basics',
        icon: 'mdi mdi-laptop yellow',
        color: 'yellow',
        curve_size: 15,
        weeks: "1 semaine",
        startWeek: '1',
        endWeek: '2',
        description: t('.ruby'),
        skills: [
          { 'icon': 'devicons-terminal_badge' },
          { 'icon': 'devicons-git' },
          { 'icon': 'devicons-ruby_rough' }
        ]
      },
      {
        title: '2 - Software Engineering',
        icon: 'mdi mdi-cube-outline purple',
        color: 'purple',
        curve_size: 30,
        weeks: "1 semaine",
        startWeek: '2',
        endWeek: '3',
        description: t('.software'),
        skills: [
          { 'icon': 'devicons-netbeans' },
        ]
      },
      {
        title: '3 - Database & SQL',
        icon: 'devicons devicons-streamline green',
        color: 'green',
        curve_size: 45,
        weeks: "1 semaine",
        startWeek: '3',
        endWeek: '4',
        description: t('.database'),
        skills: [
          { 'icon': 'devicons-streamline' },
          { 'icon': 'devicons-postgresql' }
        ]
      },
      {
        title: '4 - Front-end',
        weeks: "2 semaines",
        icon: 'mdi mdi-auto-fix blue',
        color: 'blue',
        startWeek: '4',
        endWeek: '5',
        curve_size: 60  ,
        description: t('.frontend'),
        skills: [
          { 'icon': 'devicons-html5' },
          { 'icon': 'devicons-css3' },
          { 'icon': 'devicons-javascript_badge' }
        ]
      },
      {
        title: '5 - Rails',
        startWeek: '5',
        color: 'red',
        icon: 'devicons devicons-ruby_on_rails red',
        weeks: "2 semaines",
        endWeek: '7',
        curve_size: 75,
        description: t('.rails'),
        skills: [
          { 'icon': 'devicons-ruby_on_rails' },
          { 'icon': 'devicons devicons-react' },
          { 'icon': 'devicons-heroku' }
        ]
      },
      {
        title: '6 - Project',
        startWeek: '8',
        icon: 'mdi mdi-star orange',
        color: 'orange',
        weeks: "2 semaines",
        endWeek: '9',
        curve_size: 100,
        description: t('.projects'),
        skills: [
          { 'icon': 'devicons devicons-responsive' }
        ]
      }
    ]
    } %>
</div>
<div class="two-columns">
  <div class="container">
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".why_us") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".why_us_details_html") %>
      </p>
    </div>
    <div class='image-container terminal'>
      <%= image_tag "product/fullstack-challenges.png", class: "two-columns-img two-columns-img-left"%>
    </div>
  </div>
</div>

<div class="bg-blue two-columns">
  <div class="container">
    <div class="two-columns-description" >
      <h2 class="section-header-big">
        <%= t(".community") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".community_details_html") %>
      </p>
    </div>
    <div class='two-columns-image-container slack'>
      <%= image_tag "product/slack.png", class: "two-columns-img  two-columns-img-right", style: "height:600px;" %>
    </div>
  </div>
</div>

<div class="two-columns">
  <div class="container">
    <div class="two-columns-description">
      <h2 class="section-header-big">
        <%= t(".cv") %>
      </h2>
      <p class="text-readable text-opac">
        <%= t(".cv_details_html") %>
      </p>
    </div>
    <div class='two-columns-image-container'>
      <%= image_tag "product/github-portfolio.png", class: "two-columns-img two-columns-img-padded-left", style: "height:350px;margin-bottom:70px" %>
    </div>
  </div>
</div>

<div class="day-type-overlay">
  <%= react_component 'DayType',
    {
      title: t(".typical_day"),
      steps: [
        {
          image: image_path('banners/5.jpg'),
          description: t(".theoretical_intro"),
          hour: '9h',
          circle_color: 'day-circle-red',
          active: false
        },
        {
          image: image_path('banners/4.jpg'),
          description: t(".pair_programming"),
          hour: '10h30',
          circle_color: 'day-circle-blue'
        },
        {
          image: image_path('banners/yoga.jpg'),
          description: t(".yoga"),
          hour: '16h30',
          circle_color: 'day-circle-orange'
        },
        {
          image: image_path('banners/live-code.jpg'),
          description: t(".live_code"),
          hour: '17h30',
          circle_color: 'day-circle-orange'
        },
        {
          image: image_path('banners/8.jpg'),
          description: t(".talk"),
          hour: '19h00',
          circle_color: 'day-circle-yellow'
        },
        {
          description: 'Sleep, repeat.',
          image: false,
          circle_color: 'day-circle-red'
        }
      ]
    } %>
</div>
