<%= content_for(:title) do %>
  <%= t(".title", city: @city[:name]) %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description", city: @city[:name]) %>
<% end %>

<div class="banner banner-gradient text-center" style="background-image: url('<%= image_path(@city[:images][:banner])%>');">
  <div class="banner-gradient-shadow"></div>
  <div class="banner-content">
    <h1><%= @city[:name] %></h1>
  </div>
</div>

<div id="staff" class="padded">
  <h2 class="section-header text-center">Staff</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% @city[:staff].each do |teacher| %>
        <div class="row">
          <div class="col-xs-12">

            <div class="card-staff">
              <div class="card-staff-description">
                <h3><%= teacher.capitalize %></h3>
                <%= markdown(locale == I18n.default_locale ? Static::STAFF[teacher.to_sym][:description][:fr] : Static::STAFF[teacher.to_sym][:description][:en])%>
              </div>
              <div class="card-staff-infos">
                <div class="card-staff-role">
                  <h4><%= Static::STAFF[teacher.to_sym][:name]%></h4>
                  <p><%= Static::STAFF[teacher.to_sym][:role] %></p>
                </div>
                <%= image_tag "teachers/#{Static::STAFF[teacher.to_sym][:image_name]}", class: "img-circle card-staff-img" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>