<%= content_for(:title) do %>
  <%= t(".title", city: @city["name"]) %>
<% end %>

<%= content_for(:description) do %>
  <%= t(".description", city: @city["name"]) %>
<% end %>

<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path(@city["city_picture"])%>');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1><%= t ".become_dev" %></h1>
        <p><%= t ".city_arrival", city: @city["name"] %></p>
      </div>
    </div>
    <div class='banner-cta'>
    <%= link_to (locale == :fr ? program_path : program_en_path), class: 'banner-cta-item hidden-xs' do %>
      <%= t(".discover_us", default: "Découvrez notre programme") %>
    <% end %>
    <%= link_to t(".apply_for_nine_weeks"), (locale == :fr ? apply_fr_path : apply_en_path), class: "btn banner-cta-item btn-danger btn-lg" %>
    </div>
  </div>
</div>

<%= render "shared/features" %>

<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: url('<%= image_path(@city["location_picture"])%>');" id="banner-city">
  </div>
</div>

<div id="staff" class="padded">
  <div class="container">
    <h2 class="section-title-home text-center">
      <div class="section-title-home-content" style="font-size:30px;">
        <%= t ".staff", city: @city["name"]%>
      </div>
    </h2>
  </div>
  <div class="container">
    <div>
      <% @teachers.each do |teacher| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="card-staff">
            <div class="card-staff-description">
              <h3><%= teacher["first_name"] %> <%= teacher["last_name"] %></h3>
              <p><%= teacher["bio"][locale.to_s] %></p>
            </div>
            <div class="card-staff-infos">
              <div class="card-staff-role">
                <h4><%= teacher["github_nickname"].capitalize %></h4>
                <p><%= teacher["role"]%></p>
              </div>
              <%= image_tag teacher["thumbnail"], class: "img-circle card-staff-img" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h2 class="section-title-home text-center">
      <div class="section-title-home-content" style="font-size:30px;">
        Beloved teacher assistants
      </div>
    </h2>
  </div>

  <div class="container">
    <div class="row text-center">
      <% @assistants.each_slice(6).each do |slice| %>
      <div class="col-xs-12 col-sm-offset-<%= (12 % slice.count) / 2 %>">
        <% slice.each do |ta| %>
          <div class="col-xs-6 col-sm-<%= 12 / slice.count %> ta-card">
            <%= image_tag ta["thumbnail"], class: "img-circle", width: "60px"%>
            <h4><%= ta["first_name"]%> <%= ta["last_name"]%></h4>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="location-overlay">
  <div class="container">
    <div id="location" class="banner banner-flat" style="background-image: url('<%= image_path(@city["location_picture"])%>');">
      <div class="banner-flat-filter banner-flat-filter-black"></div>
      <div class="banner-content">
        <div class='location-tab-overlay'>
          <div class='location-tab'>
            <h2>
              <%= @city["location"] %>,
              <span><%= @city["address"] %></span>
            </h2>
          </div>
        </div>
        <% if @city["location"]%>
          <p><%= @city["description"][locale.to_s] %></p>
        <% end %>
        <br>
        <% if @meetup[:events].empty? %>
          <a href="<%= @meetup[:infos][:link] %>" target="_blank" class="btn-transparent">
            Next Meetup: <%= @meetup[:infos][:name] %>
          </a>
        <% else %>
          <a href="<%= @meetup[:events].first[:event_url] %>" target="_blank" class="btn-transparent">
            Next Meetup: <%= @meetup[:events].first[:name].truncate(30) %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
